/* variable function for repeated use */
:root {
  --white: #ffffff;
  --seagreen: lightseagreen;
  }

* {
    box-sizing: border-box;
  }

/* formats for each header section */
h1 {
  float: left;
  font-size: 50px;
  font-weight: bold;
  color: teal;
  float: right;
  padding: 10px;
}


/* Style the body */
body {
    font-family: 'Abel', sans-serif;
    margin: 0;
    padding: 0;
  }

/* rules for the vertical line for each section */
.verticalLine{
  border-left: 7px solid teal;
  height: 242px;
  margin-top: 20px;
}

/* Controling size and format for the h1 titles */
.title{
  font-size: 50px;
  font-weight: bold;
  color: teal;
  float: right;
  padding: 10px;
}


/* only rules for the image */
.col-3 img {
  align-items: left; 
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 30px;
  max-height: 250px;
  max-width: 250px; 
  margin-right: 75%;
}

/* overall justifications for column-9 */
.col-9 {
  top: 10px;
  padding: 10px;
 
}

/* overall column-12 justifications */
.col-12 {
  justify-content: center;
  margin-left: 9%;
}

/* format for image box in column-12 */
.col-12 img {
  border-color: var(--seagreen);
  border-style: solid;
  align-items: center;
  max-width: 656px;
  max-height: 328px;
  min-width: 656px;
  min-height: 328px;
}


.col-6 {
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Properties for the photos in the boxes in "Work" section */
.col-6 img {
  border-color: var(--seagreen);
  border-style: solid;
  max-width: 400px;
  max-height: 225px;
  min-width: 400px;
  min-height: 225px;
  flex: 0 0 0;
}

/* Padding per each div column */
.divPadding{
  margin-bottom: 35px;
  margin-top: 40px;
  margin-left: 0;
  padding-top: 20px;
}

/* to place the item on the image as in text */
.item > img {
  width: 100%;
  height: auto;
  display: block; /* to get rid of whitespace */
  position: relative;
  
}

.label { /* Adding the text to be placed on the photo in work boxes*/
  font-size: 1rem;
  line-height: 3;
  padding: 0 1rem;
  position: absolute;
  bottom: -10px;
  left: 25px;
  background-color: var(--seagreen);
  color: var(--white);  
}

/* Change color on hover */
nav a:hover {
    background-color: peachpuff;
    
  }


.col- {
  width: 100%;
}

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar, col {   
      flex-direction: row;
    }

@media only screen and (max-width:800px) {
      /* For tablets: */
      .main {
        width: 80%;
        padding: 0;
      }
      .right {
        width: 100%;
      }
    }

@media only screen and (max-width:500px) {
      /* For mobile phones: */
      .menu, .main, .right {
        width: 100%;
    }
/* Footer element formatting */
  footer {
    padding: 20px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    position: fixed;
  }