/* Styled for every section of the page */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Chau Philomene One", sans-serif;
  text-decoration: none;
}

body {
  background: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/11/15-Presentation-Background-Examples12.jpeg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: url()
}
img {
  width: 100%;
}

/* Properties for navbar */
.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 5px;
  justify-items: end;
}

.top-nav {
  padding-top: 10px;
  color: rgb(116, 121, 117);
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}
/* Name properties */
h1 {
  font-size: 95px;
  padding: 10px;
  color: rgb(240, 206, 170);
  text-shadow: 4px 4px 4px rgb(19, 16, 16), -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
  font-family: "Chau Philomene One", sans-serif;
}
/* each section heading properties */
h2 {
  padding: 10px;
  font-size: 70px;
  color: rgb(240, 206, 170);
  text-shadow: 4px 4px 4px rgb(19, 16, 16), -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
  font-family: "Chau Philomene One", sans-serif;
}
/* header settings for each project */
h3 {
  font-size: 45px;
  font-family: "Chau Philomene One", sans-serif;
  color: rgb(255, 225, 194);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(6, 6, 6);
  text-shadow: 1px 1px 1px rgb(19, 16, 16);
  font-weight: bolder;
}

ul li a {
  transition: all 0.3s ease 0s;
  font-size: 30px;
  color: #9f96d3;
  color: rgb(240, 206, 170);
  text-shadow: 4px 4px 4px rgb(19, 16, 16), -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
  padding: 10px;
}

li:hover,
li:focus {
  border-style: solid;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}


.uk-overlay {
  padding: 10px;
}

/* Settings for icons in nav bar to be in color-scheme */
i {
  color: rgb(223, 208, 240);
}

/* Contact icon settings */
.icons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  max-width: 300px;
  margin: auto;
  align-items: center;
}
.aboutme {
  padding-top: 10px;
}

/* About Me section properties */
.info {
  color: rgb(3, 3, 3);
  background-color: rgba(255, 229, 202, 0.899);
  border: 3px solid rgb(19, 16, 16);
  border-radius: 5px;
  padding: 10px;
  padding-top: 20px;
  opacity: 0.78;
  font-size: 25px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0 auto;
}
/* Job Title settings */
.logo {
  font-size: 40px;
  padding: 10px;
  color: rgb(240, 206, 170);
  text-shadow: 4px 4px 4px black, -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
  margin-left: 7%;
}
/* sets different style between subheading */
.subtitle {
  font-size: 40px;
  padding: 10px;
  color: rgb(223, 208, 240);
  /* color: rgba(136, 213, 145, 0.803); */
  text-shadow: 4px 4px 4px black, -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
}

a {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transform: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -moz-transform: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
}
/* Round edges on headshot */
.profile-img {
  border-radius: 20px;
}
/* settings to each project image */
.project-img {
  border-color: rgb(136, 91, 187);
  border-style: solid;
  box-shadow: 5px 5px 5px #212020;
  max-height: 500px;
}
.link-item:hover {
  /* border-color: rgb(240, 206, 170); */
  border-color: rgb(223, 208, 240);
  border-style: solid;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  padding: 10px;
}

.project-framework {
  text-decoration: underline;
  font-size: 17px;
}

.portfolio-item-grid p {
  font-size: 17px;
}

.portfolio-item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  padding: 10px;
}

footer {
  position: sticky;
  text-align: center;
  font-size: 2rem;
}

/* Mobile Responsive */
@media (min-width: 100px) {
  .nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
  }
  .details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .portfolio-item-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
  }
}
@media (min-width: 650px) {
  .nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .details {
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .contact-grid {
    display: grid;
    grid-template-columns: 3fr 6fr;
  }
  .portfolio-item-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    padding: 10px;
  }
}
@media (min-width: 900px) {
  .nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .details {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .portfolio-item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    padding: 10px;
  }
  .contact-grid {
    display: grid;
    grid-template-columns: 3fr 6fr;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}