/* Styled for every section of the page */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
}

body {
  /* font-family: monospace; */
  background: url(/assets/images/bg-design.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-container {
  display: grid;
  grid-template-rows: .5fr 4fr .5fr;
  /* grid-template-columns: 2fr 4fr; */
  grid-gap: 30px;
}

header {
  width: 100%;
  /* height: 100vh; */
}

.top-nav {
  width: 100%;
  position: fixed;
  color: rgb(175, 122, 235); 
  /* border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%; */
  transition: all 650ms cubic-bezier(1,0,0,1);
}

h2 {
  padding: 10px;
  font-size: 60px;
  text-shadow: 1px 1px 2px;
}

.details {
  display: grid;
  /* grid-template-rows: 1fr 3fr 1fr; */
  grid-template-columns: 2fr 6fr;
  grid-gap: 10px;
  padding: 10px;
  /* margin: 10px; */
}

.about {
  display: grid;
  grid-template-columns: 3fr 6fr;
}

.assignments {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 20px;
  justify-content: space-evenly;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  width: 100%;
  padding: 10px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: space-evenly;
}

.nav-list {
  list-style: none;
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: sans-serif;
  font-size: 30px;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #ffe838, #915178);
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

a {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transform: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -moz-transform: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: 0.3s ease-in-out;

}
.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to top, #ffe838, #915178);
  width: 100%;
  height: 4px;
  border-radius: .8rem;
}

.bar-half {
  width: 50%;
}

.bar-start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-485deg) translateX(.8rem);
}

.bar-end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end {
  transform: rotate(-485deg) translateX(-.8rem);
}

.project-img {
  border-color: rgb(43, 172, 142);
  border-style: solid;
  max-width: 500px;
  max-height: 400px;
  min-width: 500px;
  min-height: 400px;
  flex: 0 0 0;
  box-shadow: 5px 5px 5px #212020;
}

/* .label {
  Adding the text to be placed on the photo in work boxes
  font-size: 1rem;
  line-height: 3;
  padding: 0 1rem;
  position: absolute;
  bottom: -10px;
  left: 25px;
  background-color: rgb(57, 112, 240);
  color: var(--white);
   box-shadow: 5px 5px 5px #212020; 
}  */

